@font-face {
    font-family: "Barlow ExtraBold";
    src:
        url("#{$sunflower-fonts-path}/Barlow-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Barlow Condensed ExtraBold";
    src:
        url("#{$sunflower-fonts-path}/BarlowCondensed-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}
